.text-small{
    color:black;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: justify;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 576px) {
}

@media (max-width: 768px) {

    .text-small{
        color:black;
        text-align: justify;
    }
}

@media(min-width:960px) {
}

@media(min-width:1100px) {
}

@media(min-width:1200px) {
}
@media(min-width:1500px) {
    
}